
.wrap{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:1rem;
  font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, Arial;
}

.card{
  width:100%;
  max-width:530px;
  background:#e8c29c;
  padding:2rem;
  border-radius:16px;
  box-shadow:0 15px 30px rgba(240,225,225,0.08);
}

.card h1{
  font-weight:600;
  margin:0 0 .5rem;
}

