* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header {
    width: 100vw;
    height: 10vh;
    background-color: #4d291c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.container {
    width: 100vw;
    height: 90vh;
    display: flex;
}

nav {
    width: 200px;
    height: 100%;
    background-color: #4d291c ;
    transition: .2s;
}


nav ul {
    width: 100%;
}

nav ul li {
    width: 200px;
    height: 40px;
    padding: 5px;
    color:#ebd5c8;
}

nav ul li:hover {
    cursor: pointer;
    background-color: rgba(255, 44, 44, 0.456);
}

.content {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 250px;
    height: 300px;
    background-color: #ebd5c8;
    margin: 10px;
    border-radius: 5px;

}

.box img {
    width: 100%;
    max-height: 58%;
    border-radius: 5px 5px 0 0;
}

.box p {
    color: #5e4131;
    font-size: 17px;
    padding: 10px;
    text-align: center;
}

.box #nome {
    font-weight: bold;
}
.box button {
    width: 70% ;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: rgba(159, 114, 88, 0.889);
    font-weight: bold;
    cursor: pointer;
    align-self: center ;
}

.box .info {
    height: 30%;
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: none;

}

@media (max-width: 700px) {
    .menu {
        display: block;
    }

    nav {
        position: absolute;
        top: 0;
        left: -200px;
        height: 100vh;
    }
}
